{
  "presets": [
    [ "@babel/preset-env", {
      "modules": false,
      "loose": true,
      "useBuiltIns": false,
      "targets": {
        "esmodules": true
      },
      "exclude": [ "transform-typeof-symbol", "transform-function-name", "transform-classes" ]
    } ]
  ],
  "comments": false
}
